.button {
  & button {
    border: 1px solid white;
    padding: 3px;
    color: black;
    background-color: rgb(138, 138, 138);
  }

  &.circle button {
    border-radius: 50%;
  }

  &.outlined button {
    background: none;
    border: 0;
  }

  &.bgColor {
    &-primary button {
      background-color: lightblue;
    }
    &-secondary button {
      background-color: lightgreen;
    }
    &-tertiary button {
      background-color: lightpink;
    }
  }

  &.color {
    &-danger button {
      color: rgb(163, 20, 20);
    }
    &-white button {
      color: white;
    }
  }

  &.size {
    &-small button {
      font-size: 1em;
    }
    &-medium button {
      font-size: 1.2em;
    }
    &-big button {
      font-size: 1.5em;
    }
  }
}