.button {
  & button {
    border: 1px solid white;
    padding: 3px;
    color: black;
    background-color: rgb(138, 138, 138);
  }

  &.circle button {
    border-radius: 50%;
  }

  &.color {
    &-1 button {
      background-color: lightblue;
    }
    &-2 button {
      background-color: lightgreen;
    }
  }
}