.photo-edit {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: var(--color-empty);

    &-more {
      &-height {
        height: 100%;
      }
      &-width {
        width: 100%;
      }
    }
  }

 .photo-empty {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
