.popup {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-transparency);
  position: fixed;
  top: 0;
  left: 0;

  &-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    &-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 25px;
      background-color: var(--color-popup);
      width: 75vw;
      height: 15vh;

      &-title {
        font-size: 1.3em;
        font-weight: 800;
        color: var(--color-white);
      }

      &-actions {
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
}