.text-edit {
  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    color: var(--color-black);
    font-size: 1.2em;
  }

  &.text-edit-type-name {
    .input input[type="text"] {
      padding: 15px;
    }
    .button button {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  &-placeholder {
    color: var(--color-placeholder);
  }

  .input {
    display: flex;
    justify-content: center;

    input[type="text"] {
      width: 100%;
      padding: 9px;
      background-color: var(--color-input);
      color: var(--color-black);
    }
  }

  &.color {
    &-primary .text-edit-title {
      background-color: var(--color-primary);
    }

    &-secondary .text-edit-title {
      background-color: var(--color-secondary);
    }

    &-tertiary .text-edit-title {
      background-color: var(--color-tertiary);
    }
  }
}