.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  text-align: center;
  width: 100%;

  &-name {
    width: 100%;

    .text-edit-title {
      height: 50px;
    }
  }

  &-barcode, &-quantity, &-refill {
    width: 100%;

    .text-edit-title {
      height: 30px;
    }
  }
}