.main {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.page-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 60vw;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10vh;
}