.switch-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

 button {
    border: 0;
    background: none;
  }
  
  &.switch {
    &-off {
      .switch-text-button button {
        color: var(--color-danger);
      }

      .switch-text-input {
        display: none;
      }

      .switch-text-submit {
        display: none;
      }
    }

    &-on {
      .switch-text-button button {
        color: var(--color-success);
      }

      .switch-text-input input {
        background-color: var(--color-info);
      }
    }
  }

  &-input {
    display: flex;
    justify-content: space-between;

    .title {
      padding: 7px;
      color: var(--color-black);
    }

    input[type="number"] {
      border: 0;
      color: var(--color-black);
      width: 14vw;
      text-align: center;
      border-radius: var(--border-radius-left);
    }
  }
}