.product-item {
  display: flex;
  gap: 10px;
  border: 1px solid white;
  padding: 7px;
  background-color: lightblue;
  color: black;

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.photo-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: lightgray;
}