.product-item {
  display: flex;
  gap: 10px;
  border: 1px solid white;
  padding: 7px;
  background-color: var(--color-primary);
  color: var(--color-black);
  position: relative;

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &-actions {
    position: absolute;
    right: 7px;
  }

 .photo-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: var(--color-empty);
  }
}
