.products {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    max-height: 65vh;
  }

  &-add button {
    width: 100%;
    height: 3em;
  }

  &-refill {
    position: absolute;
    right: 0;
    top: -6vh;
  }
}
