.text-edit {
  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    color: var(--color-black);
    font-size: 1.2em;
  }

  &-placeholder {
    color: var(--color-placeholder);
  }

  .input {
    display: flex;
    justify-content: space-between;

    input[type="text"] {
      padding: 7px;
      background-color: var(--color-input);
      color: var(--color-black);
    }
  }

  &.color {
    &-primary .text-edit-title {
      background-color: var(--color-primary);
    }

    &-secondary .text-edit-title {
      background-color: var(--color-secondary);
    }

    &-tertiary .text-edit-title {
      background-color: var(--color-tertiary);
    }
  }
}